<h1>Modificar paciente</h1>

<%= render "form", paciente: @paciente %>

<br>

<div class="container">
  <%= link_to "Ver paciente", @paciente %> |
  <%= link_to "Regresar a lista de pacientes", pacientes_path %>
</div>
