<h1>Editing therapist</h1>

<%= render "form", therapist: @therapist %>

<br>

<div>
  <%= link_to "Show this therapist", @therapist %> |
  <%= link_to "Back to therapists", therapists_path %>
</div>
