<h1>Editing hoja paciente</h1>

<%= render "form", hoja_paciente: @hoja_paciente %>

<br>

<div>
  <%= link_to "Show this hoja paciente", @hoja_paciente %> |
  <%= link_to "Back to hoja pacientes", hoja_pacientes_path %>
</div>
