<h1>Editing exploracion fisica</h1>

<%= render "form", exploracion_fisica: @exploracion_fisica %>

<br>

<div>
  <%= link_to "Show this exploracion fisica", @exploracion_fisica %> |
  <%= link_to "Back to exploracion fisicas", exploracion_fisicas_path %>
</div>
