<div class="container">
<h1>Exploracion fisica</h1>

<%= render "form", exploracion_fisica: @exploracion_fisica %>

<br>

<div>
  <%= link_to "Regresar a lista de pacientes", pacientes_path %>
</div>
</div>